<!DOCTYPE html>
<html lang="en">
<title>portfolio</title>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Vue development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="stylin.css">
</head>
<header>
  <a href="https://github.com/aguilarandres" target="_blank" rel="noopener">
    <i class="fa fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/a-guilar/" target="_blank" rel="noopener">
    <i class="fa fa-linkedin-square"></i>
  </a>
  <a href="https://stackoverflow.com/users/2898736/aguilar" target="_blank" rel="noopener">
    <i class="fa fa-stack-overflow"></i>
  </a>
</header>

<body>
  <!-- Page Container -->
  <div class="w3-content" style="max-width:1300px;">
    <!-- The Grid -->
    <div id="grid">
      <!-- Left Column -->
      <div class="w3-third">
        <div style="border-width: 4px;">
          <div class="w3-display-container">
            <img src="./avatar.jpg" style="width:70%" alt="Avatar">
          </div>
          <div id="left_column">
            <p>
              <a href="mailto:aguilar_andres@protonmail.com" target="_top">
                <i class="fa fa-send"></i></a>
                andres aguilar
              </p>
              <hr>
              <i class="fa fa-code"></i>
              programming
              <hr>
              <div><!-- Technolgies -->
                <ul id="tech">
                  <li v-for="item in items">
                    {{ item.tech }}
                  </li>
                </ul>
              </div>
              <hr>
              <i class="fa fa-language"></i>
              languages
              <hr>
              <div><!-- Languages -->
                <ul id="lang">
                  <li v-for="item in items">
                    {{ item.language }}
                  </li>
                </ul>
              </div>
            </div>
            <script src="js/list.js"></script>
          </div>
          <!-- End Left Column -->
        </div>
        <!-- Right Column -->
        <div class="w3-twothird" style="padding: 20px;">
          <div class="w3-black" style="border-width: 2px;">
            <h2>
              experience
            </h2>
            <hr>
            <div>
              <h4>
                <i class="fa fa-laptop"></i>
                software developer @ cooktu [NOV 2018 - PRESENT]
              </h4>
              <hr>

              <h2>
                projects
              </h2>
              <hr>
              <div id="superturbo">
              <h4>
                <a :href="url" target="_blank" rel="noopener">
                  <i class="fa fa-code-fork"></i></a>
                  {{ name }}
                </h4>
              </div>
                <div id="hacktober">
                  <h4>
                    <a :href="url" target="_blank" rel="noopener">
                    <i class="fa fa-code-fork"></i></a>
                    {{ name }}
                  </h4>
                  <hr>
                </div>
                <script src="js/project.js"></script>
              </div>

              <div class="w3-black" style="border-width: 2px;">
                <h2>
                  education
                </h2>
                <hr>
                <!-- Implements Vue js instance -->
                <div id="freeCodeCamp">
                  <h4>
                    <i class="fa fa-free-code-camp"></i>
                    {{ name }} [ {{ month }} {{ year }} ]
                    <br>
                    <a :href="url" target="_blank" rel="noopener">
                      <i class="fa fa-certificate"></i></a>
                      {{ cert }}
                    </h4>
                    <hr>
                    <script src="./js/school.js"></script>
                  </div>

                  <div id="gatech">
                    <h4>
                      {{ name }} [ {{ month }} {{ year }} ]
                      <br>
                      <a :href="url" target="_blank" rel="noopener">
                        <i class="fa fa-certificate"></i></a>
                        {{ cert }}
                      </h4>
                      <hr>
                      <script src="./js/school.js"></script>
                    </div>
                    <div>
                      <h4>
                        British Columbia Institute of Technology [MAR 2017 : MAR 2018]
                        <br>
                        <i class="fa fa-certificate"></i>
                        Computer Systems Certificate
                      </h4>
                      <hr>
                    </div>
                    <div>
                      <h4>
                        British Columbia Institute of Technology [SEP 2013 : SEP 2019]
                        <br>
                        Computer Systems Technology Diploma
                      </h4>
                      <hr>
                    </div>

                  </div>
                </div>
                <!-- End Right Column -->
              </div>
              <!-- End Grid -->
            </div>
            <!-- End Page Container -->
          </div>
        </body>
        </html>
