html,body,h1,h2,h3,h4,h5,h6{
  font-family: "Ubuntu Mono", sans-serif;
}

i.fa-github,
i.fa-linkedin-square {
  color: white;
  font-size: 48px;
  padding-left:16px;
}

#this {
  color: yellow;
}

div#left_column {
  color: white;
  font-size: 18px;
}

i.fa-code,
i.fa-language {
  color: teal;
  font-size: 32px;
  margin-right: 0.5em;
}

i.fa-graduation-cap,
i.fa-certificate,
i.fa-code-fork,
i.fa-free-code-camp {
  color: teal;
  margin-right: 0.5em;
}

i.fa-send {
  color: teal;
  font-size: 24px;
  margin-right: 0.5em
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

hr {
  border-top: 1px dashed;
}

#details {
  font-size: 16px
}
