html,body,h1,h2,h3,h4,h5,h6{
  font-family: "Ubuntu Mono",
  sans-serif
}

i.fa-github {
  color: white;
  font-size: 48px;
  padding-left:16px;
}

i.fa-linkedin-square {
  color: white;
  font-size: 48px;
  padding-left:16px;
}

h3#this {
  color: yellow;
}

i.fa-code {
  font-size: 36px;
  color: teal;
  margin-right: 0.5em;
}

i.fa-graduation-cap {
  font-size: 36px;
  color: teal;
  margin-right: 0.5em;
}

i.fa-language {
  font-size: 36px;
  color: teal;
  margin-right: 0.5em;
}

i.fa-certificate {
  font-size: 18px;
  color: teal;
  margin-right: 0.5em;
}

i.fa-send {
  font-size: 24px;
  color: teal;
  margin-right: 0.5em
}

i.fa-code-fork {
  color: teal;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

hr{
  border-top: 1px dashed;
}

#details{
  font-size: 16px
}
