html,body,h1,h2,h3,h4,h5,h6{
  font-family: "Ubuntu Mono", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}
hr {
  border-top: 1px dashed;
}

.fa-github,
.fa-linkedin-square{
  color: white;
  font-size: 48px;
  padding-left:24px;
}
.fa-stack-overflow {
  color: white;
  font-size: 44px;
  padding-left:24px;
}

div#left-column {
  color: white;
  font-size: 24px;
}

.fa-code,
.fa-language {
  color: teal;
  font-size: 32px;
  margin-right: 0.5em;
}

.fa-certificate,
.fa-code-fork,
.fa-free-code-camp,
.fa-laptop {
  color: teal;
  margin-right: 0.5em;
}

.fa-send {
  color: teal;
  font-size: 24px;
  margin-right: 0.5em
}

#grid {
  padding: 20px;
}

/* Accordion button*/
.accordion {
  background-color: teal;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 12px;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: white;
}

.accordion:after {
  content: '\002B';
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: black;
  overflow: hidden;
